@import "../../common/colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Comfortaa:wght@400;600&display=swap');

.header {
    background-color: $secondary-color;
    height: 72px;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: $font-primary;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
}

.user-img,
.user-img>img {
    width: 38px;
    height: 38px;
}

.search-bar {
    width: 50%;
    display: flex;
    justify-content: center;
    font-family: 'Ebrima', sans-serif;

    form {
        display: flex;
        justify-content: center;
        width: 100%;

        button {
            padding: 0 8px;
            font-size: 15px;
            cursor: pointer;
            height: 30px;
            border: transparent;
            border-radius: 0 5px 5px 0;
        }
    }

    input {
        font-size: 15px;
        width: 100%;
        padding: 5px 5px 5px 10px;
        height: 30px;
        outline: none;
        border: transparent;
        border-radius: 5px 0 0 5px;
    }
}